@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo_field {
  max-width: 300px;
  width: 90vw;
}
